.product-list-container {
    padding: 1rem;
}

.header-section {
    margin-bottom: 1rem;
}

.table-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.actions-cell {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .header-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .table-header {
        justify-content: center;
        margin-bottom: 1rem;
    }
}

.edit-btn{
    width: 26px;
    height: 12px;
}